

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.scrollable {
  height: auto;
  max-height: 80vh;
  overflow: auto;
}

ul {
  list-style: none;
}

.answer-btn {
  width: 500px;
  height: 40px;
  margin: 5px;
}

.correct-answer {
  background-color: #79ac78;
  border: none;
  color: white;
  transition: all 1s linear;
}

.wrong-answer {
  background-color: #d83f31;
}
.correct-answer .transition {
  background: #79ac78;
}
.result-score p {
  text-align: center;
  font-size: 16rem;
  margin: 0;
  font-family: cursive;
  color: #3092cd;
  background: #fcffea9e;
  width: 27rem;
  height: 27rem;
  border: #6d7fd2 solid 10px;
  border-radius: 50%;
}

.result-score h3 {
  text-align: center;
  font-size: 3rem;
  margin: 10px;
  color: #d83f31;
  font-family: math;
}

.correct-answer-number h2 {
  color: #d83f31;
  font-family: math;
  letter-spacing: 0.2px;
  font-weight: bold;
}

.question-fade-exit {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.question-fade-exit-active {
  opacity: 0;
}


.question-fade-enter {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.question-fade-enter-active {
  opacity: 1;
}

