body{
  background-image: url('https://images.unsplash.com/photo-1547750341-26482cf3a2ac?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Poppins, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#title{
  font-size: 50px;
}

p{
  font-size: 20px;
  color: white;
  font-weight: bold;
}

button{
  font-family: Poppins, sans-serif;
  font-size: 20px;
  top: 50%;
  left: 3%;
  z-index: 10;
  cursor: pointer;
  border-radius: 10px;
}

div{
  width: 900px;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: Poppins, sans-serif;
}

.scrollable {
  height: auto;
  max-height: 80vh;
  overflow: auto;
}

ul {
  list-style: none;
}

.answer-btn {
  width: 500px;
  height: 40px;
  margin: 5px;
}

.correct-answer {
  background-color: #79ac78;
  border: none;
  color: white;
  transition: all 1s linear;
}

.wrong-answer {
  background-color: #d83f31;
}
.correct-answer .transition {
  background: #79ac78;
}
.result-score p {
  text-align: center;
  font-size: 16rem;
  margin: 0;
  font-family: cursive;
  color: #3092cd;
  background: #fcffea9e;
  width: 27rem;
  height: 27rem;
  border: #6d7fd2 solid 10px;
  border-radius: 50%;
}

.result-score h3 {
  text-align: center;
  font-size: 3rem;
  margin: 10px;
  color: #d83f31;
  font-family: math;
}

.correct-answer-number h2 {
  color: #d83f31;
  font-family: math;
  letter-spacing: 0.2px;
  font-weight: bold;
}
