

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.scrollable {
  height: auto;
  max-height: 80vh;
  overflow: auto;
}

ul {
  list-style: none;
}

.answer-btn {
  width: 500px;
  height: 40px;
  margin: 5px;
}

.correct-answer {
  background-color: green;
}

.wrong-answer {
  background-color: red;
}

.question-fade-exit {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.question-fade-exit-active {
  opacity: 0;
}


.question-fade-enter {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.question-fade-enter-active {
  opacity: 1;
}

